@page "/"
@using RemCon.Client.Clients
@inject ControlClient _client;

<MatH4>RemCon</MatH4>

<MatH6>Output Device</MatH6>

@if (!IsLoading)
{
    @foreach (var device in _audioDevices)
    {
        <MatButton Raised="true" OnClick="@(() => SetDevice(device))">@device</MatButton>
    }
}
else
{
    <p>Loading devices...</p>
}

<hr />

<MatH6>Volume</MatH6>

<MatSlider ValueMin="0" ValueMax="65535" @bind-Value="Volume"></MatSlider>

@code{
    private int _volume;
    private List<string> _audioDevices;
    private bool IsLoading = false;
    
    private int Volume
    {
        get => _volume;
        set
        {
            _volume = value;
            UpdateVolume().RunSynchronously();
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        _audioDevices = await _client.GetAudioDevices();
        await base.OnInitializedAsync();
        IsLoading = false;
    }

    private async Task UpdateVolume()
    {
        await _client.SetVolume(_volume);
    }

    private async Task SetDevice(string device)
    {
        await _client.SetDevice(device);
    }
}